#wrapper{
    margin: 0;
    padding: 0;
}


#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: darkgray;*/
    margin-top: 150px;
}

#wrapper > * {
    margin-bottom: 40px;
}


select {
    width: 150px;
    height: 40px;
}
